/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color:#00FFFF ;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: #FAEBD7;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f76d57;
}

/* Course Card Styles */
.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.course-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.course-description {
  margin-top: 10px;
  color: #777;
}

/* Button Styles */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: #e04f3c;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
